annotated-types==0.7.0
anyio==4.13.0
async-timeout==5.0.1
asyncpg==0.29.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
et-xmlfile==2.0.0
fastapi==0.109.0
greenlet==3.3.2
h11==0.16.0
httptools==0.7.1
idna==3.11
lxml==6.0.2
markdown==3.7
openpyxl==3.1.2
psycopg2-binary==2.9.9
pydantic==2.12.5
pydantic-core==2.41.5
pyjwt==1.7.1
python-docx==1.1.2
python-dotenv==1.2.2
python-multipart==0.0.9
pyyaml==6.0.3
requests==2.31.0
sqlalchemy==2.0.48
sqlmodel==0.0.14
starlette==0.35.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uvicorn==0.27.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
